@font-face {
    font-family: 'Roboto-bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

$body-color: red;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: $body-color;
    font-family: 'Roboto-bold', serif;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-filter {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: orange;
}

#list {
    display: flex;
    flex-direction: row;

    li {
        width: 150px;
        height: 150px;
        border: 2px solid black;
        border-radius: 20px;
        margin: 20px;
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}